table.google-visualization-orgchart-table {
  max-width: 800px;
  border-collapse: separate;
}

/*.google-visualization-orgchart-table tr + tr + tr + tr + tr td + td + td + td + td.google-visualization-orgchart-linenode {
  background-color: white;
  border-top: 1px solid #0f74a8;
}*/
.google-visualization-orgchart-table tr + tr + tr + tr + tr td + td + td + td + td.google-visualization-orgchart-linenode:before {
  content: '.';
  min-width: 10px;
  color: #fff;
  display: block;
  height: 3rem;
  border-bottom: 2px solid #0f74a8;
}
/*
.google-visualization-orgchart-table tr + tr + tr + tr + tr + tr td + td + td + td + td.google-visualization-orgchart-linenode {
  background-color: transparent;
  border-bottom: 0px solid #0f74a8;
}*/
.google-visualization-orgchart-table tr + tr + tr + tr + tr + tr td + td + td + td + td.google-visualization-orgchart-linenode:before {
  content: '';
  width: auto;
  display: inline;
  border-bottom: 0px;
}
}
table.google-visualization-orgchart-table tr:hover {
  background-color: transparent;
}
table.google-visualization-orgchart-table td.google-visualization-orgchart-node {
  background: none;
  background-color: #0066a1;
  box-shadow: none;
  padding: 8px !important;
  line-height: 1rem !important;
  font-size: 0.8rem !important;
  font-family: inherit !important;
  color: #fff;
}
table.google-visualization-orgchart-table td.google-visualization-orgchart-node:hover {
  border-color: #f90;
}
table.google-visualization-orgchart-table td a {
  font-weight: 300;
  font-family: inherit;
  color: #fff;
  display: block;
  padding: 4px;
}
table.google-visualization-orgchart-table td a:hover {
  text-decoration: none;
}
table.google-visualization-orgchart-table td .top-level a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400 !important;
}
