<div class="field__item field__item__paragraph__callout-strip">

    <div class="paragraph container-fluid paragraph--type--callout-strip" style="background-image: url('/sites/default/files/2019-08/callout_background_small.jpg'); background-size: auto 100%; background-position: center right; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="callout-strip__field-text field-text"><h3>{{ title }}</h3>
                        <p>{{ description }}</p>
                    </div>
                    <div class="callout-strip__field-link field-link"><a href="{{ link }}">{{ link_text }}</a></div>

                </div>
            </div>
        </div>
    </div>

</div>
