// Add fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i&display=swap");

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1390px
);
$grid-gutter-width: 15px;

// Font family styles
$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Fonts settings
$font-size-base: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.75rem;
$font-size-xl: 2.5rem;
$line-height-base: 1.75;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-base: $font-weight-light;

a {
  font-weight: $font-weight-bold;
}
a > em {
  font-weight: $font-weight-bold !important;
}

/* Colours */
$ipu-blue: #0066a1;
$ipu-blue-light: rgba($ipu-blue, 0.6);
$ipu-teal: #00a8b4;
$ipu-orange: #e98300;
$ipu-teal-light: rgba($ipu-teal, 0.3);
$ipu-dark-grey: #333333;
$ipu-grey: #747678;
$ipu-light-grey: #cccccc;
$ipu-very-light-grey: #eeeeee;
$ipu-white: #ffffff;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "ipu-blue": $ipu-blue,
    "ipu-teal": $ipu-teal,
    "ipu-orange": $ipu-orange,
    "ipu-teal-light": $ipu-teal-light,
    "ipu-dark-grey": $ipu-dark-grey,
    "ipu-grey": $ipu-grey,
    "ipu-light-grey": $ipu-light-grey,
    "ipu-very-light-grey": $ipu-very-light-grey,
    "ipu-white": $ipu-white
  ),
  $colors
);

$primary:  $ipu-blue;
$secondary: $ipu-teal;
$tertiary:  $ipu-orange;
$dark:      $ipu-grey;

$custom-select-line-height: 1.6rem;

$input-btn-padding-y: 0.125rem !default;
$input-btn-padding-x: 0.125rem !default;

// Blockquote variables
$blockquote-font-size: $font-size-lg;
$font-size-xxs: 0.6rem;

// Border overrides
$border-radius: 0;

// Card overrides
$card-spacer-y: 10px;
$card-spacer-x: 10px;

.btn-sm {
  padding: 0.1rem 0.5rem;
}
.btn-cta {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}