$gray-900: #252C26;
@import "ipu-variables";

// Bootstrap
// -----------------------------------------------------------------------------
@import "~bootstrap/scss/functions";
@import "base/variables";

// This is needed after variables SASS, to add  to non !default values
$theme-colors: map_merge($theme-colors, (
    "tertiary":    $tertiary
));

// Need to customise the spaces
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 2)
    ),
    $spacers
);

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// Base
// -----------------------------------------------------------------------------
@import "base/mixins";
@import "base/functions";
@import "base/helpers";
@import "base/elements";

// Layout
// -----------------------------------------------------------------------------
@import "layout/page.header";
@import "layout/page.content";
@import "layout/page.footer";
@import "layout/carousel";

// Component
// -----------------------------------------------------------------------------
@import "../components/node/node";

// Fontawesome
// -----------------------------------------------------------------------------
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

// Other
// -----------------------------------------------------------------------------
@import "block/block";
@import "block/block2";
@import "navigation/nav";
@import "content/node.page";
@import "content/node.innovation_tracker_issue";
@import "content/node.innovation_tracker_story";
@import "content/node.hub_update";
@import "content/node.article";
@import "base/forms";
@import "sitesearch";

/* Add 5 card layouts */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
}

@mixin one-fifth() {
    flex: 0 0 20%;
    max-width: 20%;
}
.col-xs-5ths {
    /* Not this: width: 20%;
    float: left;
    This: */
    @include one-fifth();
}

@include media-breakpoint-up(md) {
    .col-sm-5ths {
        @include one-fifth();
    }
}
@include media-breakpoint-up(lg) {
    .col-md-5ths {
        @include one-fifth();
    }
}
@include media-breakpoint-up(xl) {
    .col-lg-5ths {
        @include one-fifth();
    }
}
@include media-breakpoint-up(xxl) {
    .col-xl-5ths {
        @include one-fifth();
    }
}

input[type=reset] {
    @extend .btn;
    @extend .btn-outline-primary;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
}
input[type=submit],
button[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    // Same as btn-sm
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
}

