{#
/**
 * @file
 * Render the event document tab as a BS tab.
 */
#}

{% for item in items %}
  <a href="#event-sub-page-documents" data-order="{{ item.content.0['#order']|raw }}" class="nav-link" data-toggle="tab">{{ item.content }}</a>
{% endfor %}
