{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
  'event-sub-page__title',
]
%}

{% for item in items %}
  <h2{{ item.attributes.addClass(classes) }}>{{ item.content }}</h2>
{% endfor %}
