{#
/**
 * @file
 * Render the event document tab as a BS tab.
 */
#}

{% for item in items %}
  <a href="#event-sub-page-programme" class="nav-link" data-toggle="tab">{{ item.content }}</a>
{% endfor %}
