{#
/**
 * @file
 * Default theme implementation
 *
 * Available variables:
 *  - language_id : current language
 *
 * @see template_preprocess_ipu_orgchart()
 *
 * @ingroup themeable
 */
#}
<div class="ipu-orgchart">
    <div id="chart_div"></div>
</div>
