body {
  /*background-color: theme-color("light");*/
}

main {
  background-color: $white !important;
}
// Basic styling for headings
h1,
.basic-page__node-title h2,
.page__node-title h2,
.ipu-map-country h2,
.section-page__node-title h2,
.block--ipu-content h2 {
  line-height: 1.25em;
  font-weight: 400;
  padding-bottom: 4px;
  border-bottom: 2px solid color("ipu-teal");
  padding-top: 10px;
  margin-bottom: 20px;
}

.ipu-map-country {
  z-index: 1;
}
.ipu-map-country h1 {
  background-color: $ipu-white;
  z-index: 1200;
}

.sticky-top-js.stuck {
  position:fixed;
  top: 0;
}
@include media-breakpoint-down(md) {
  .sticky-top-js.stuck {
    top: 2rem;
  }
}

h1 {
  color: color("ipu-dark-grey");
  font-size: $h1-font-size;
  border-width: 4px;
  @include media-breakpoint-down(md) {
    font-size: $font-size-base * 2.2;
  }
}
h2 {
  color: color("ipu-teal");
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 300;
}

h3 {
  color: color("ipu-teal");
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: $font-weight-normal;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}
h5, h6 {
  font-weight: $font-weight-normal;
}

a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

table th {
  font-weight: $font-weight-normal;
}
.block--ipu-content img,
.block--ipu-content iframe {
  max-width: 100%;
}

.page__footer {
  background-color: theme-color("dark");
  padding: 40px 0 20px 0;
  // Make space for mobile social share at bottom
  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
  }
  .container > p {
    font-size: $font-size-sm;
    color: $ipu-white;
    a {
      font-weight: $font-weight-normal;
      color: $ipu-white;
    }
  }
  .region-inner {
    @extend .row;
    & > .block {
      display: inline-block;
      @extend .col-md-3;
      @extend .col-sm-6;
      margin-bottom: 20px;

    }
    p {
      color: $ipu-white;
      font-size: $font-size-sm;
      line-height: 1rem;
    }
    h2 {
      color: $ipu-white;
      font-size: 1.1rem;
      border-bottom: 2px solid color("ipu-teal");
    }
    li.nav-item {
      padding: 0 0 0.25rem;
    }
    a {
      color: $ipu-white;
      font-weight: $font-weight-normal;
      &:hover {
       color: $tertiary;
      }
      &.nav-link {
        padding: 0;
        font-weight: $font-weight-light;
        line-height: 1rem;
        font-size: $font-size-sm;
      }
    }
    ul.nav li {
      width: 100%;
      span {
        padding: 2px 0 2px 4px;
      }
    }
    .block--quicklinks ul {
      padding-left: 0;
      list-style: none;
      li {
        list-style: none;
        padding-bottom: 0.25rem;
      }
      a {
        font-weight: $font-weight-light;
        font-size: $font-size-sm;
        display: block;
        line-height: 1.1rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.topbar {
  background-color: theme-color("dark");
  padding: 1px 0 1px 0;
  font-size: 0.8rem;

  .custom-select {
    height: 28px;
  }

  ul {
    margin-bottom: 0;
  }
  ul.nav {
    text-align: right;
    display: block;
    display: flex;
    :first-child {
      /*flex: 1 0 0;*/
    }
    & > li {
      display: inline-block;
    }
  }
  a {
    font-weight: $font-weight-normal;
    color: theme-color("light");
    padding: $navbar-nav-link-padding-x;
    &:hover {
      color: color("orange") !important;
      text-decoration: none;
    }
    &.active {
      background-color: color("white");
      color: color("ipu-grey");
    }
    &.nav-link {
      color: theme-color("light");
      padding: 0 $navbar-nav-link-padding-x;
      &:hover {
        color: color("orange") !important;
      }
      &::before {
        font-size: 1rem;
        display: block;
      }
      span {
        display: none;
      }
    }
  }

  .text-left .region-inner {
    display: flex;
    display: block;
    justify-content: flex-start;
    a {
      padding: 0.25em;
      display: block;
    }
    & > div {
      float: left;
    }
  }
  ul.cross-site-navigation {
    white-space: nowrap;
  }
  /* Language switcher */
  .block--languagedropdownswitchercontent {
    display: inline-block;
    margin-left: 10px;
    .lang-dropdown-select-element {
      font-size: 0.85rem;
      border-radius: 0;
    }
  }
}
#branding a.logo-link {
  display: block;
}
#branding img.logo {
  height: 90px;
  width: auto;
  padding: $navbar-padding-x /2  $navbar-padding-y / 2;
  @include media-breakpoint-down(md) {
    height: auto;
    max-width: 90%;
    width: 90%;
  }
}
@include media-breakpoint-up(md) {
  #branding .branding-left,
  #branding .branding-right {
    // Fix for IE
    width: 100%;
  }
  #branding .branding-right .region-inner {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -5px;
    & > .block {
      padding: 0 5px;
    }
  }
}

#branding .block--ipu-search {
  display: inline-block;
  @include media-breakpoint-down(sm) {
    input.form-search {
      display: none;
    }
  }
}
#branding .block--newslettersubscription {
  @include media-breakpoint-down(sm) {
      display: none;
  }
}

.block--languageswitchercontent {
  margin-left: 20px;
  span.lang-code-short {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    span.lang-code-short {
      display: inline-block;
    }
    span.lang-code-long {
      display: none;
    }
  }
  .es, .ar {
    display: none !important;
  }
  a:hover {
    color: #fff !important;
  }
  a:hover:before {
    color: $tertiary;
  }
  a:before {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
    content: '\f111'; /* f192 = doughnut */
    margin-right: 4px;
  }
  a.is-active {
    font-weight: $font-weight-bold;
    &:before {
      color: $tertiary;
    }
  }
}
// Font awesome icons
.example-download,
#branding .form-actions {
  &::after,
  &::before {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
  }
}

.follow-facebook,
.follow-twitter,
.follow-instagram,
.follow-youtube,
.follow-flickr,
.follow-linkedin {
  &::after,
  &::before {
    font-family: "Font Awesome 5 Brands";
  }
}

.example-download::after {
  content: "\f093" !important;
}

.follow-facebook::before {
  content: "\f39e" !important;
}
.follow-twitter::before {
  content: "\f099" !important;
}
.follow-flickr::before {
  content: "\f16e" !important;
}
.follow-youtube::before {
  content: "\f431" !important;
}
.follow-instagram::before {
  content: "\f16d" !important;
}
.follow-linkedin::before {
  content: "\f08c" !important;
}
footer {
  .follow-subscribe::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0" !important;
    font-weight: 900;
    margin-right: 4px;
  }
  .follow-subscribe {
    border: 1px solid #fff;
    padding: 0.1rem 0.25rem !important;
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    font-size: $font-size-sm;
  }
}

.cta-link {
  font-size: 0.65rem;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  &::after {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    content: "\F093" !important;
  }
}

.block--views-block--theme-list-block-1-5,
.block--views-block--theme-list-block-1,
.block--views-block--theme-list-block-1-2,
.viewfield--view__theme_list__block_home_page {
  .views-field-description__value {
    font-weight: 300;
    font-size: $font-size-sm;
  }
  .col {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }
}
.term-icon {
  display: block;
}
.term-icon a {
  /* Was uppercase and small
    text-transform: uppercase;
    font-size: $font-size-sm;
    letter-spacing: 0.05em;
  */
  font-weight: $font-weight-light;
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  &:hover {
    color: color("ipu-orange");
    text-decoration: none;
  }
}

/* Generic override due to this issues:
https://www.drupal.org/project/drupal/issues/2929888
*/
.img-thumbnail {
  display: block;
  padding: 0;
  border-width: 0;
  border-radius: 0;
  max-width: 100%;
  margin: 0;
}

a::before,
span::before {
  .term-icon & {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-right: 0.4rem;
  }
  .term-icon-88 & {
    background: url("../img/theme_icons/gender_equality.svg");
  }
  .term-icon-139 & {
    background: url("../img/theme_icons/peace_building.svg");
  }
  .term-icon-82 & {
    background: url("../img/theme_icons/human_rights.svg");
  }
  .term-icon-198 & {
    background: url("../img/theme_icons/global_development.svg");
  }
  .term-icon-231 & {
    background: url("../img/theme_icons/international_relations.svg");
  }
  .term-icon-139 & {
    background: url("../img/theme_icons/peace_building.svg");
  }
  .term-icon-19 & {
    background: url("../img/theme_icons/strong_parliaments.svg");
  }
  .term-icon-117 & {
    background: url("../img/theme_icons/youth.svg");
  }
  .term-icon-337 & {
    background: url("../img/theme_icons/parliamentary_dialogue.svg");
  }
}

.viewfield--view__theme_list__block_home_page {

  .term-icon a::before {
    width: 32px !important;
    height: 32px !important;
  }

  .row .col > div {
    background-color: $light;
    padding: 10px 10px 0 10px;
  }
  .views-field-description__value {
    font-weight: 300;
    font-size: $font-size-sm;
    line-height: 1.1;
    padding-bottom: 10px !important;
    padding-left: 46px !important;
  }
}

/* Mega menu Parliaments dropdown */
.ipu-map-country-select-form .form-item-isocode {
  float: left;
}
.ipu-map-country-select-form .button {
  text-transform: uppercase;
  margin: 0px;
  border-radius: 0 4px 4px 0;
  padding: 2px 6px;
}

/* Subpages section on section pages */
.section-page-subpages-section {
  //background-color: color("ipu-very-light-grey");
  background-color: $light;
  padding: 20px 0;
  margin: 10px -10px 0 -10px; /* Push to edge of container-fluid without row */
  .field__label {
    @extend h2;
    font-weight: $font-weight-light !important;
    margin: 30px 0;
  }
}

/* Generic layout */
.field-content-section {
  .paragraph--type--sections {
    .field--type-viewfield {
      .views-element-container > div {
        /*@extend .row;*/
      }
      .views-row {
        @extend .col-md-4;
      }
      /* Fixed events */
    }
  }
}

.paragraph--type--sections {
  margin-top: 10px;
  .sections__field-section-title {
    @extend h2;
    margin: 20px 0;
  }
}

.ipu-event__field-event-sub-page {
  .tab-pane {
    background-color: color("white");
    border: 1px solid color("ipu-light-grey");
    border-width: 0px 1px 1px 1px;
    box-shadow: color("ipu-light-grey");
  }
}

/* ipu event sessions */
.page__content .media img {
  max-width: 100%;
  height: auto;
}

.node-readmore .nav-link {
  border: 1px solid color("ipu-blue");
  padding: 0px 4px;
  border-radius: 1px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.ipu-map-country {
  .ipu-map-flag img {
    height: 2.5rem;
    width: auto;
    margin-right: 10px;
  }
}

// Block quote styles
blockquote, .blockquote {
  width: 75%;
  font-size: $font-size-lg;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-style: solid none;
  border-width: 1px;
  border-color: $tertiary;
  color: $ipu-grey;
  line-height: 1.25em;
  font-style: italic;
}

// List styles

ul,
ol,
dl {
  padding-left: 20px;
}

// Link styles
a.btn {
  text-decoration: none;
}

// Breadcrumb styles
.breadcrumb {
  font-size: $font-size-sm;
}
.breadcrumb-item + .breadcrumb-item {
  @include media-breakpoint-down(sm) {
    padding-left: 0.25rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
  @include media-breakpoint-down(sm) {
    padding-right: 0rem;
  }
}
// Country page and data points on home page

// Data points
.data-point-title {
  font-weight: $font-weight-bold;
}

.ipu-tweaks-data-points {
  margin: 40px 0;
  .col-md-3 {
    transition: .4s, transform .4s ease;
    -moz-transition: .4s, transform .4s ease;
    -webkit-transition: .4s, transform .4s ease;
    &:hover {
      -ms-transform: scale(1.02); /* IE 9 */
      -webkit-transform: scale(1.02); /* Safari */
      transform: scale(1.02);
    }
  }
}

// Statistics components
.stats {
  font-size: $font-size-sm;
}
.stats-item {
  min-height: 30px;
}

.data-parliament-name {
  font-weight: $font-weight-bold;
  border-bottom: 1px solid $secondary;
}
.stats-number {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}
.stats-content {
  padding-left: $spacer;
  max-width: calc( 100% - 75px);
}
.stats-age {
  border: 1px solid $ipu-light-grey;
}
.card-current-women-percent .stats-item {
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.stats-more-link {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-dark;
  text-transform: uppercase;
  font-size: $font-size-xs;
  letter-spacing: 0.05rem;
  padding: 0.125rem 0.5rem;
  width: 100%;
  margin-top: 10px;
  &:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\F061";
    font-weight: 900;
    margin-left: 4px;
    font-size: $font-size-xs;
  }
}
.stats-women {
  background-color: transparent;
  z-index: 1000;
  background-position: 0 0;
  background-image: url("../img/icons/woman.png");
}

.stats-men {
  background-color: transparent;
  background-position: 100% 0;
  background-image: url("../img/icons/man.png");
}

.stats-under-45 {
  background-color: $tertiary;
}
.stats-not-under-45 {
  background-color: $light;
}

.stats-circle {
  border-radius: 50%;
  background-color: $primary;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: $white;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}

.card-members .stats-circle {
  background-color: $light;
  border: 2px solid $primary;
  color: $primary;
}

.stats-title {
  color: $ipu-grey;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
}

// Borders
.ipu-border-bottom {
  border-bottom: 1px solid $ipu-grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// Cards
.card {
  // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.card-body {
  font-size: $font-size-sm;
}

/* Sections */
/* Some buttons */
.section-page__node-link a {
    margin: 4px 0;
}
.sections__field-section-title {
  @extend h2;
  margin: 20px 0;
}

.event-date-circle {
  border-radius: 50%;
  background-color: $tertiary;
  width: 100px;
  height: 100px;
  // line-height: 75px;
  text-align: center;
  color: $ipu-white;
  font-weight: $font-weight-bold;
  // font-size: $font-size-lg;
  border: 4px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../img/icons/calendar.png);
  background-position: 100% 50%;
  background-size: 36px;
  line-height: 1.6rem;
  z-index: 2;
}



// Highlight cards base styles
.node--view-mode-highlight {
  position: relative;
  @extend .card;
  margin-bottom: $spacer;

  .article__node-post-date {
    font-size: $font-size-sm;
  }
  .article__field-media-image {
    margin-top: -10px;
  }

  // Article type for all highlight cards
  .article__type,
  .ipu-event__field-event-type {
    @extend .badge;
    @extend .badge-tertiary;
    position: absolute;
    top: -3px;
    left: -3px;
    background-color: $ipu-grey;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    &.type__press-releases, &.type__communiqués-de-presse {
      background-color: $tertiary;
    }
  }

  .ipu-event__field-event-type {
    background-color: $tertiary;
  }


  // Article content for all highlight cards
  .article__type-content,
  .layout__region--content,
  .event__type-content,
  .bs-region--main {
    @extend .card-body;
  }
  .bs-region--main {
    // Fix for IE11
    height: 100%;
  }
  &.node--type-landing-page,
  &.node--type-basic-page,
  &.node--type-page,
  &.node--type-section-page {
    .bs-region--main {
      padding: 0;
      .group-content {
        padding: 10px;
      }
    }
  }

  .article__type-content {
    .bs.region--main {
      display: flex;
      flex-direction: column;
    }
  }
  .article__node-link a {
    &:hover,
    &:focus {
      background-color: $tertiary !important;
    }
  }

  .group-event-wrapper {
    margin-top: -10px;
  }
  // Styling date element
  .ipu-event__dates,
  .event__date {
    @extend .event-date-circle;
    .event-dates-part {
      display: block;
      line-height: 1.6rem;
    }
    .event-dates-day {
      font-size: $font-size-lg;
    }
  }
  .event__date {
    background-color: $ipu-grey;
  }
  .group-event-date {
    position: absolute;
    right: -25px;
    top: -20px;
    display: flex;
    justify-content: center;
  }
}

// Read more link base styles
.article__node-link a,
.ipu-event__node-link a {
  @extend .btn-outline-primary;
  @extend .btn;
  @extend .btn-sm;

  &:after {
    padding-left: 5px;
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\f061";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

}

// News specific (Brand blue).
.articles-card-news,
.viewfield--view__articles,
.taxonomy-list-article .page__content .views-rows-wrapper {
  .node--view-mode-highlight {
    @extend .text-white;
    @extend .bg-primary;
    border-width: 0;
    .article__body {
      padding: 10px 0;
    }
    a {
      @extend .text-white;
    }
  }
  /*& > .col-md-6 > .col-md-12 {
    height: 100%;
    & > div {
      height: 100%;
    }
  }*/
  .view-mode-highlight-lg {
    width: 100%;
  }
  .node--view-mode-highlight {
    .article__type-content {
      &:hover {
        .article__body {
          /* Show/hide description
          Doesn't work if descriptions are too big

          visibility: visible;
          height: auto;
          opacity: 1;
          transition: all 1s ease-in-out;
          background-color: rgba($primary, 1);
          */
        }
      }
    }
    .article__field-media-image {
       // Broken images? min-height: 120px;
       margin-bottom: 30%;
     }
    @include media-breakpoint-down(md) {
      .article__field-media-image {
        margin-bottom: 40%;
      }
    }
    /* Single column */
    @include media-breakpoint-down(sm) {
      .article__field-media-image {
        margin-bottom: 10%;
      }
    }

    .article__field-media-image + .article__type-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba($primary, 0.8);

      /* This is dealt with by making the box .view-mode-highlight-sm so don't need it here
      .article__body {
        visibility: hidden;
        opacity: 0;
        height: 0;
      }
      */
    }

  }

  .article__node-link a {
    @extend .btn-outline-light;
  }

}

//This forces the first item to span the right four items, but not at smaller screen sizes
.articles-card-news {
  .articles-first-row {
    @extend .d-flex;
    @extend .align-items-stretch;
    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }
}

.node--type-article.node--view-mode-full {
  .row {
    margin-bottom: 40px;
    .article__node-post-date {
      background-color: $light;
      padding: 4px 10px;
    }
  }
}

.viewfield--view__articles,
.taxonomy-list-article .views-rows-wrapper {
  h3 {
    font-size: $font-size-base;
  }
}

// Case study specific styles
.articles-card-case-study {

  .article__node-link a {
    @extend .btn-outline-dark;
  }

  .article__type {
    @extend .bg-secondary;
  }
  .article__node-title a {
    @extend .text-secondary;
  }
}

.ipu-event__node-link a,
.more-data-parline {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-primary;
  span::before {
    padding-right: 5px;
  }
}
.more-data-parline {
  width: 100%;
}

.data-provenance {
  padding: 10px;
  background-color: $light;
  margin: 30px 0 20px 0;
  p {
    font-size: $font-size-sm;
  }
}
// Currently removing row and column styles
// NOTE: May want to try and remove these in Drupal
// NOTE: Display suite is using Bootstrap 1 column layout
.node--view-mode-highlight.row {
  margin-left: 0;
  margin-right: 0;
}
.node--view-mode-highlight .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.articles-card-case-study h3,
.view-mode-highlight-sm h3 {
  font-size: $font-size-base;
}

// NOTE: May want to remove in Drupal
// Hide some things for now, where it would need a whole new template
.node--view-mode-highlight .article__body {
  display: none;
}
.view-mode-highlight-lg .node--view-mode-highlight {
  .article__body {
    display: block;
  }
  h3 {
    font-size: $font-size-md;
  }
}

.articles-card-case-study .article__node-post-date {
  display: none;
}

.text-white a {
  color: $white;
}

// Search styles
#branding .form-search {
  border: 0;
}

.form-inline {
  border-bottom: 1px solid $dark;
  @include media-breakpoint-down(sm) {
    border-bottom-width: 0px;
  }
}

#branding .form-actions::after {
  content: "\f002" !important;
  color: $tertiary;
}

#branding .form-actions:hover::after,
#branding .form-actions:focus::after {
  color: $secondary;
}

#branding .form-submit {
  background-color: transparent;
  border: 0;
  position: absolute;
  color: transparent;
  right: 0;
}

// Event styles
.group-event-wrapper {
  display: flex;
  position: relative;
  .event__type-content {
    max-width: calc(100% - 60px);
    padding-top: 20px;
  }
  .ipu-event__field-location {
    font-size: $font-size-sm;
  }
}

/* News styles */
.node-article {
  h1 {
    margin-top: 0;
  }
  .article__node-post-date {
    font-weight: $font-weight-bold;
  }
  .group-news-image {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Put caption over image */
  .article__field-caption {
    position: absolute;
    bottom: 0;
    background-color: $ipu-blue-light;
    color: $ipu-white;
    padding: 0.5rem;
    font-size: $font-size-sm;
    a, a:hover {
      color: $ipu-white;
    }
    p {
      margin-bottom: 0;
    }
  }
  XXX.article__body {
    margin: 30px 0;
  }

  /* 2-column text */
  @include media-breakpoint-up(md) {
  .article__body {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
    }
  }

  .group-related {
    //margin: 0 -15px;
    background-color: $light;
    padding: 20px 0;
    // Immediate div is bounded
    & > div {
      @extend .container;
    }
    .field__label {
      @extend h2;
      font-weight: $font-weight-light !important;
      margin: 30px 0;
    }
    .field__item {
      .views-element-container {
        .views-row {
          @extend .col-lg-4;
          @extend .col-md-6;
        }
      }
    }
  }
}

/* Standard cards with h3 arrows and images with captions over*/
.image-with-caption {
  .group-image {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image-with-caption-caption {
    position: absolute;
    bottom: 0;
    background-color: $ipu-blue-light;
    color: $ipu-white;
    padding: 0.5rem;
    font-size: $font-size-sm;
    a, a:hover {
      color: $ipu-white;
    }
    p {
      margin-bottom: 0;
    }
}


.section-page-subpages-section,
.viewfield--view__sub_content {
  .row .views-row {
    @extend .col-lg-4;
    @extend .col-md-6;
    margin-bottom: 20px;
    .bs-1col {
      @extend .card;
      position: relative;
      height: 100%;
      .layout__region--content {
        height: 100%;
        .card-body {
          height: auto;
          display: flex;
          .body {
            margin-top: auto;
          }
        }
      }
    }
    .section-page__node-link,
    .landing-page__node-link,
    .basic-page__node-link {
      display: none;
    }

    // Quite complex! Only move the title over the image if here is one. Requires the image or the group it's in
    // to have a sibling of group-content, in which there's a title.
    .field-media-image ~ .group-content,
    .group-image ~ .group-content {

      .section-page__node-title,
      .basic-page__node-title,
      .landing-page__node-title,
      .page__node-title {
        & > * {
          margin: 0;
        }
        position: absolute;
        top: 20px;
        left: 0;
        background-color: rgb(255, 255, 255, 0.85);
        max-width: calc(100% - 20px);

        &:hover {
          background-color: rgb(255, 255, 255, 0.95);
          transition: all 300ms ease;
        }
      }
    }

    .field-media-image ~ .group-content,
    .group-image ~ .group-content {
      h3 {
        font-size: $font-size-base;
        margin: 0 !important;
      }
    }
    .field-media-image ~ .group-content,
    .group-image ~ .group-content {
      a {
        padding: 8px 8px;
        display:block;
        font-weight: 400;
        font-size: $font-size-base;
        line-height: 1.1rem;
      }

      a:after {
        padding-left: 4px;
        font-family: "Font Awesome 5 Free", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-weight: 900;
        line-height: 1;
        content: "\f061" !important;
      }

    }

  }
}


.field__item__paragraph__highlights {
  background-color: $ipu-teal-light;
  .paragraph--type--highlights {
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .container;
    .highlights__field-section-title {
      @extend .sections__field-section-title;
    }
    .highlights__field-node {
      @extend .row;
    }
    .field__item {
      &:nth-child(-n + 2) {
        @extend .col-md-6;
        @extend .col-xl-5ths;
      }
      @extend .col-sm-6;
      @extend .col-md-4;
      @extend .col-xl-5ths;
      /* Make first two children bigger */

      /* Try this for mixed sizes */
      /*@extend .col-lg-3;
      &:first-child {
        @extend .col-lg-6;
      }*/

      /* Or show/hide the last one?
      @include media-breakpoint-up(xxl) {
        &:last-child {
          display: block;
        }
      }*/
    }
  }
}


.node--type-landing-page,
.node--type-basic-page,
.node--type-section-page,
.node--type-page {
  &.node--view-mode-highlight {
    .group-content {
      padding-top: 10px;
    }

    .node-link a {
      @extend .btn-outline-primary;
      @extend .btn-sm;
    }
  }
}

.node--type-publication.node--view-mode-highlight {

  .group-header {
    @extend .card-body;
    background-color: $ipu-white;
    padding-top: 0;
    .publication__type {
      border-bottom: 1px solid $ipu-light-grey;
      margin-bottom: 10px;
    }
  }
  .group-content-wrapper {
    @extend .d-flex;
    .card-body {
      padding-top: 0;
    }
  }
  .publication__date.date {
    float: right;
  }
  .publication__field-media-image {
    @extend .col-lg-5;
    @extend .no-gutters;
    img {
      border: 1px solid $ipu-very-light-grey;
    }
  }
  .group-content {
    @extend .card-body;
    @extend .col-lg-7;
    background-color: $ipu-white;
  }
  .publication__node-link {
    margin-top: 10px;
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-outline-primary;
    }
  }
}

.node-publication {
  .block--ipu-content {
    margin-bottom: 20px;
  }
  .page__content {
    // .col-md-5 is the right-hand column
    .ds-2col-stacked-right {
      & > div {
        border-bottom: 1px solid $ipu-light-grey;
        padding: 8px 0;
        .field__label {
          width: 50%;
          .field__label__suffix {
            display: none;
          }
          &.font-weight-bold {
            font-weight: $font-weight-light !important;
          }
        }
        .field__item {
          font-weight: $font-weight-normal;
        }
        .field__item {
          width: 50%;
        }
        .field__items {
          width: 100%;
        }
        .field__items > .field__item {
          width: 100%;
          padding-bottom: 6px;
        }
        .field-publication-file {
          .file {
          }
          .file-size {
            float: right;
            margin-top: -1.6rem;
            font-weight: $font-weight-light;
          }
          a {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-primary;
            &:after {
              padding-left: 4px;
              font-family: "Font Awesome 5 Free", sans-serif;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              font-weight: 900;
              line-height: 1;
              content: "\f56d" !important;
            }
          }
        }
      }
      .publication__document > .field__label {
        @extend .sr-only;
      }
    }
    .publication-body-and-image {
      @extend .row;
      & > div {
        @extend .col-md-6;
      }
      .publication__field-media-image {
        //margin-left: $grid-gutter-width;
        img {
          border: 1px solid $ipu-teal-light;
          padding: 4px;
        }
        margin-bottom: 20px;
      }
    }

  }
}

.view-publications.view-display-id-page_1 {
  .views-inner {
    @extend .row;
    .views-row {
      @extend .col-lg-3;
      @extend .col-md-4;
      @extend .col-sm-6;
    }
  }
  header {
    font-weight: $font-weight-normal;
    padding: $grid-gutter-width/2;
  }
  #views-exposed-form-publications-page-1 {
    background-color: $light;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    // Line up with page title
    margin-top: -20px;
    .form-group {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 0;
    }
    label {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
    }
    select {
      width: auto;
    }
    input.form-submit {
      @extend .btn-sm;
      margin-left: 10px;
    }
    margin-bottom: 10px;

  }
}

.view-publications.view-display-id-multiple_ids {
  .more-link a {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-outline-primary;
  }
}

.node--view-mode-teaser {
  position: relative;
  margin-bottom: $spacer;

}
.node--type-ipu-event.node--view-mode-teaser {
  .bs-region {
    @extend .d-flex;
    @extend .justify-content-between;
  }
  .group-event-date {
    .ipu-event__field-event-computed-date {
      @extend .event-date-circle;
      .event-dates-day {
        font-size: $font-size-lg;
      }
      .event-dates-part {
        display: block;
      }
    }
  }
  .group-content {
    max-width: 100%;
  }
}

// Events listings
.viewfield--view__events {
  // Upcoming and prev

  .views-exposed-form  {
    background-color: $light;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .form-group {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 0;
    }
    label {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
    }
    select {
      width: auto;
      font-size: $font-size-xs;
    }
    input.form-submit {
      @extend .btn-sm;
      margin-left: 10px;
    }

  }

  &.viewfield--view__events__block {
    .views-exposed-form {
      margin-top: -20px;
    }
  }
  &.viewfield--view__events__block,
  &.viewfield--view__events__block_upcoming,
  &.viewfield--view__events__block_past,
  &.viewfield--view__events__assembly_listing,
  &.viewfield--view__events__multiple_ids {
    .node--type-ipu-event {
      margin-top: 20px;
      border: 1px solid $ipu-light-grey;
      width: calc(100% - 60px);
      margin-left: 3px;
    }
    .group-content {
      padding-top: 1rem;
    }
    .group-event-date {
      margin: -10px -60px 0 0;
    }
    .views-element-container > div > h3 {
      border-bottom: 1px solid $secondary;
      padding-top: 40px;
    }
    .ipu-event__dates, .ipu-event__field-location {
      display: inline-block;
      font-weight: $font-weight-bold;
    }
    .ipu-event__node-title h3 {
      color: $ipu-grey;
    }

    .ipu-event__node-title h3,
    .ipu-event__node-title h3 a {
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
      margin-bottom: 0;
    }
    .ipu-event__field-summary {
      font-size: $font-size-base;
      line-height: 1.4rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ipu-event__node-link {
      margin: 5px 0 10px 0;
    }
  }
  .field-event-type {
    font-size: $font-size-xxs;
    line-height: 1;
    background: $ipu-grey;
    text-transform: uppercase;
    color: $ipu-white;
    letter-spacing: 0.05rem;
    padding: 3px;
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -3px;
    background-color: $ipu-grey;

    &.field-event-type__assembly {
      background-color: $tertiary;
    }
  }
  .event-currency-past {
    .group-event-date .ipu-event__field-event-computed-date {
      background-color: $ipu-grey;
    }
  }
}

.node-basic_page,
.node-page,
.section-page__dynamic-block-fieldnode-section-sub-pages,
.viewfield--view__sub_content,
.node--view-mode-highlight {
  @extend .image-with-caption;
  /* Put caption over image */
  .basic-page__field-caption,
  .landing-page__field-caption,
  .page__field-caption {
    @extend .image-with-caption-caption;
  }
}
/* Override when in highlights box */

.section-page__dynamic-block-fieldnode-section-sub-pages,
.viewfield--view__sub_content,
.node--view-mode-highlight {
  .group-image {
    margin-top: 0px;
    &:hover {
      .page__field-caption,
      .basic-page__field-caption {
        opacity: 1;
      }
    }
    .page__field-caption,
    .basic-page__field-caption {
      opacity: 0;
      transition: all 700ms ease-in-out;
    }
  }
}
/* 'See also' section on basic pages */
.basic-page__field-related-content {
  margin-top: 20px;
  margin-bottom: 20px;
  @extend .card;
  .field__label {
    @extend .card-title;
    @extend h3;
    padding: 10px 10px 0 10px;
  }
  .field__items {
    @extend .card-body;
    .field__item:not(:last-child) {
      border-bottom: 1px solid $ipu-very-light-grey;
    }
    .field__item {
      a {
        /*font-size: $font-size-sm;*/
        padding: 2px 8px;
        display: block;
        font-weight: $font-weight-light;
        &:hover {
          background-color: $ipu-teal-light;
        }
      }
    }
  }
}

.external-link-icon {
  display: flex;
  font-weight: $font-weight-normal;
  line-height: 1.2rem;
  &:before {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
    padding: 2px 0;
    content: '\f0ac';
    margin-right: 4px;
  }
}
.view-documents.view-display-id-multiple_ids {
  .document__field-external-link {
    a {
      @extend .external-link-icon;
    }
  }
}

.basic-page__field-related-documents {
  margin-bottom: 20px;
  .field__label {
    @extend h3;
    border-bottom: 1px solid $secondary;
    font-weight: $font-weight-normal !important;
  }
  .document__body {
    font-size: $font-size-sm;
    line-height: 1.2rem;
    margin-left: 16px;
  }

  .field__item .related-documents__field-external-link {
    border-bottom: 1px solid $ipu-very-light-grey;
    @extend .col-12;
    padding-top: 4px;
    padding-bottom: 4px;
    a {
      @extend .external-link-icon;
    }
  }
  .node--view-mode-teaser {
    margin: 0;
    padding: 4px 0;
    border-bottom: 1px solid $ipu-light-grey;
  }

  .document__file {
    .file {
      display: flex;
    }
    .file a {
      display: flex;
      font-weight: $font-weight-normal;
      line-height: 1.2rem;
    }
    .file a:before {
      font-family: "Font Awesome 5 Free", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      line-height: 1;
      content: '';
      padding: 0px 0;
    }
    .file--application-pdf a:before {
      content: '\f1c1';
      margin-right: 4px;
    }
    .file--mime-application-msword a:before {
      content: '\f1c2';
      margin-right: 4px;
    }
    .file-size {
      white-space: nowrap;
      font-size: $font-size-sm;
      line-height: 1.2rem;
      padding: 0 0 0 8px;
      align-self: end;
    }
  }
}

.highlights__field-section-title,
.sections__field-section-title {
  border-bottom: 2px solid $secondary;
  padding: 10px 0 4px 0;
}
.sections__field-section-description {
  margin: 0 0 10px 0;
}

.field-content-section {
  .field__item {
  }
  .field__item__paragraph__carousel,
  .field__item__paragraph__carousel-slides {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $light;
  }
}

/* Just in case there is some floated content in a para */
.paragraph--type--sections:after {
  content: '';
  display: table;
  clear: both;
}

/* All 'Sections' paras on landing pages are bounded */
.node-landing_page .landing-page__field-content-section .paragraph--type--sections {
  @extend .container;
}
.node-landing_page:not(.node-172) {
  main {
    padding-top: 0 !important;
    position: relative;
  }
  .group-header {
    @extend .container-fluid;
    .group-header-inner {
      @extend .row;
    }
    .landing-page__node-title:not(.theme-landing-page) {
      @extend .container;
      @extend .pt-2;
      background-image: none !important;
    }
    .landing-page__node-title.theme-landing-page {
      width: 100%;
      min-height: 60vh;
      background-position: center center;
      background-size: cover;
      .field-node-title-wrapper {
        @extend .container;
        position: relative;
        height: 100%;

        .field-node-title-inner {
          position: absolute;
          bottom: 40px;
          @extend .col-12;
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.8);
          padding: 10px;
          border-bottom: 4px solid $secondary;
          @include media-breakpoint-down(sm) {
            left: 0;
            bottom: 0;
          }
          h1 {
            border-bottom-width: 0px;
            margin-bottom: 0;
            margin-top: 0;
          }
          h1:before {
            content: "";
            width: 40px;
            height: 40px;
            display: block;
            float: left;
            margin: 0.4rem;
          }

          .field-node-title-theme-description {
            margin-left: calc( 40px + 1rem );
            font-size: $font-size-md;
            @include media-breakpoint-down(sm) {
              font-size: $font-size-sm;
            }
          }
        }
      }
      &.theme-term-id-88 h1:before {
        background: url("../img/theme_icons/gender_equality.svg");
      }
      &.theme-term-id-139 h1:before {
        background: url("../img/theme_icons/peace_building.svg");
      }
      &.theme-term-id-82 h1:before {
        background: url("../img/theme_icons/human_rights.svg");
      }
      &.theme-term-id-198 h1:before {
        background: url("../img/theme_icons/global_development.svg");
      }
      &.theme-term-id-231 h1:before {
        background: url("../img/theme_icons/international_relations.svg");
      }
      &.theme-term-id-139 h1:before {
        background: url("../img/theme_icons/peace_building.svg");
      }
      &.theme-term-id-19 h1:before {
        background: url("../img/theme_icons/strong_parliaments.svg");
      }
      &.theme-term-id-117 h1:before {
        background: url("../img/theme_icons/youth.svg");
      }
      &.theme-term-id-337 h1:before {
        background: url("../img/theme_icons/parliamentary_dialogue.svg");
      }
    }
    .landing-page__field-media-image {
      display: none;
    }

    .landing-page__field-image-caption {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $ipu-blue-light;
      color: $ipu-white;
      padding: 0.5rem;
      font-size: $font-size-sm;

      a, a:hover {
        color: $ipu-white;
      }

      p {
        margin-bottom: 0;
      }
    }
    .landing-page__body {
      @extend .col-sm-8;
    }
    .group-body-and-data {
      @extend .row;
      //align-items: center;
      margin: 20px auto;
      @extend .container;
      .group-header-right {
        @extend .col-sm-4;

        .landing-page__field-data-points-for-theme,
        .landing-page__field-parline-link {
          .field__item {
            margin-bottom: 20px;

            .paragraph {
              @extend .card;
              /* Add flex-direction row to allow value and desc to site side by side */
              flex-direction: row;
              flex-wrap: wrap;
            }
          }

          .field-title {
            @extend .card-header;
            @extend .data-point-title;
            flex-basis: 100%;
            max-width: 100%;
          }

          .field-data-value {
            @extend .stats-circle;
            margin: 10px;
            flex-basis: 75px;
            // For IE10.
            display: inline-table;
          }

          .field-description {
            padding: 10px 10px 10px 0;
            flex-basis: calc(100% - 95px);
            font-size: $font-size-sm;
            align-self: center;
            max-width: calc(100% - 95px);
            display: inline-table;
          }
          .field-summary {
            padding: 10px 10px 10px 10px;
            font-size: $font-size-sm;
          }

          .field-link,
          .field-external-link {
            flex-basis: 100%;
            margin: 10px;
            align-self: center;
            max-width: calc(100% - 20px);
            a {
              @extend .stats-more-link;
            }
          }
        }
        .landing-page__field-parline-link {
          .field-title {
            border-color: $ipu-parline-green;
            background-color: $ipu-parline-green-light;
          }
          .field__item .paragraph {
              border-color: $ipu-parline-green;
          }
        }
      }
    }
  }
}
.node-172 {
  .group-header {
    @extend .container-fluid;
    background-color: $light;
    .group-header-inner {
      @extend .container;
    }
    .landing-page__node-title {
      display: none;
    }
    .landing-page__field-media-image {
      display: none;
    }
    .group-body-and-data {
      @extend .row;
    }
    .landing-page__body {
      @extend .col-sm-9;
      padding: 20px 0;
      h2 {
        color: $ipu-grey;
        border-bottom-width: 0;
        margin: 0;
        padding: 0;
        font-weight: $font-weight-light;
      }
      p {
        color: $ipu-grey;
        margin-bottom: 0;
        font-size: $font-size-md;
        line-height: 1.2;
      }
    }
    .group-header-right {
      @extend .col-sm-3;
      @extend .pt-4;
      text-align: right;
    }
  }
}
// Fix for parliaments page
.node-9854 {
  .group-header-right {
    text-align: right;
  }
}
/* Home page */
.viewfield--view__theme_list__block_home_page {
  @extend .container;
}

/* Hide the view-categories field from front-end. */
.sections__field-view-categories {
  display: none;
}

.in-the-section {
  margin-top: 20px;
  padding: 20px 0;
  background-color: $light;
  .views-row {
    @extend .col-md-4;
  }
}

.field-committee-members {
  .field__label {
    @extend h2;
    &.font-weight-bold {
      font-weight: $font-weight-light !important;
    }
  }
  .field__items {
    @extend .row;
    & > .field__item {
      @extend .col-md-4;
      margin-bottom: 10px;
      .paragraph--type--member {
        padding: 10px;
        background-color: $light;
        .node--type-committee-member.node--view-mode-teaser {
          .committee-member__node-title h3 {
            font-size: $font-size-base;
            margin: 4px 0;
            font-weight: $font-weight-normal;
          }
        }
        .committee-member__field-country {
          font-weight: $font-weight-normal;
        }
        .member__position, .member__field-official-position-mandate- {
          display: inline-block;
          font-style: italic;
        }
        .member__field-end-of-mandate {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

.section-page__field-committee-members.field-committee-members {
  @extend .container;
  padding: 20px 0;
  .field__items {
     @extend .row;
     & > .field__item {
       @extend .col-md-3;
     }
  }
}

//Countries and maps
.mapael .mapTooltip {
  border: 1px solid $primary;
  box-shadow: color("ipu-light-grey");
}

.viewfield--view__countries__block_1,
.viewfield--view__countries__block_members,
.viewfield--view__countries__block_geo_members,
.viewfield--view__countries__block_parliaments {
  h3 {
    clear: left;
    float: left;
    width: 40px;
    padding: 2px 10px;
    text-align: center;
    margin: 0;
  }
  .item-list {
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid $ipu-light-grey;
    margin-bottom: 4px;
    display: flex;
  }
  ul {
    list-style: none;
    width: calc(100% - 50px);
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
      a.non-member {
        font-weight: $font-weight-light !important;
      }
    }
  }
}
.view-display-id-block_geo_members {
  margin-bottom: 20px;
  .view-header {
    font-weight: $font-weight-normal;
    padding: 10px 0;
  }
}
.viewfield--view__countries__block_members,
.viewfield--view__countries__block_geo_members,
.viewfield--view__countries__block_parliaments {
  li a:after {
    content: ', ';
  }
  li:last-child a:after {
    content: '';
  }
  .views-field-name .field-content {
    a {
      font-weight: $font-weight-normal;
    }
    span {
      display: none;
    }
  }
}

.field__item__paragraph__callout-strip {
  background-color: $secondary;
  border-top: 4px solid $tertiary;
  margin-top: 20px;
  margin-bottom: 20px;
  .field-text {
    padding: 20px 0;
    color: $ipu-white !important;
    & > * {
      color: $ipu-white !important;
    }
  }
  .field-link {
    a {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-sm;
      margin-bottom: 20px;
    }
  }
}

.paragraph--type--call-to-action {
  background-color: color("white");
  border: 1px solid color("ipu-light-grey");
  box-shadow: 0 0 3px 0 color("ipu-light-grey");
  margin-bottom: 10px;
  padding: 8px;
  font-size: $font-size-sm;
  &:hover {
    background-color: $ipu-teal;
  }
  a {
    font-size: $font-size-md;
    color: $ipu-grey;
    font-weight: $font-weight-normal;
  }
  a:hover {
    text-decoration: none;
    color: $ipu-white
  }
  a:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
    content: '\f061';
    margin-left: 4px;
  }
  .call-to-action__field-description {
    color: $ipu-grey;
  }
  &:hover {
    a, .call-to-action__field-description {
      color: $ipu-white;
    }
   }
}

// Hide image on structure page as it's used as a main image too
.node-90 .col-md-5 .section-page__field-media-image {
  display: none;
}

.resources-journalists {
  display: flex;
  flex-direction: row;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.resource-journalists {
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 3px 0 #cccccc;
  margin: 0 5px 10px 5px;
  padding: 8px;
  font-size: 0.875rem;

  .title a {
    font-size: $font-size-md;
  }

  .description {
    display: none;
  }

  .more {
    display: none;
  }
}
