.taxonomy-list-article .page__content {
  .block--ipu-content header h3 {
    margin: 10px 0 20px 0;
  }
  .views-rows-wrapper {
    @extend .row;
  }
  .views-row {
    @extend .col-lg-3;
    @extend .col-md-4;
    @extend .col-sm-6;
  }
}

/* Main event page styling */
.node-ipu_event {
  .ipu-event__node-title h2 {
    @extend h1;
  }
  .tab-pane {
    padding-bottom: 20px;
    h2 {
      margin-top: 10px;
      border-bottom: 1px solid $ipu-teal;
    }
  }
  .ipu-event-section__field-ie-fc-title {
    @extend h3;
  }
  .ipu-event__sponsors, .ipu-event__field-sponsor {
    margin: 10px 0;
    border-bottom: 1px solid $ipu-light-grey;
    .field__label {
      font-weight: $font-weight-normal !important;
      border-bottom: 1px solid $ipu-light-grey;
    }
    .paragraphs-content-wrapper {
      height: auto;
      word-break: normal;
      &:after {
        display: none;
      }
    }
  }
  .ipu-event__field-sponsor {
    .image__uri {
      margin-bottom: 6px;
    }
    .image__filename {
      display: none;
    }
  }
  .ipu-event__dates {
    font-weight: $font-weight-normal;
  }


  .field-ipu-event-button a {
    margin: 10px 0;
    @extend .btn-cta;
  }

  .ipu-event-documents {
    h3 {
      margin-top: 10px;
    }
  }
}
.node-ipu_event,
.node--type-ipu-event.node--view-mode-teaser {
  .ipu-event__field-location {
    display: block;
    p.address {
      margin-bottom: 0;
      br {
        display: none;
      }
      span {
        display: inline-block;
        &:not(:first-child) {
          margin-left: -.3em;
        }

        /* no need to display empty elements */
        &:empty {
          display: none;
        }

        &:not(:first-child):before {
          display: inline-block;
          content: ",\00a0";
        }
      }
    }
  }
}

.block--newslettersubscription {
  a {
    @extend .btn;
    @extend .btn-outline-primary;
    @extend .btn-sm;
    padding: .1rem .25rem;
    &:before {
      font-family: "Font Awesome 5 Free", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      line-height: 1;
      content: '\f0e0';
      margin-right: 4px;
    }
  }
}
ul.flickr-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    display: block;
    padding: 0 0 20px 0;
  }
  a:first-child {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.view-vacancies {
  .views-row {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $light;
  }
  .vacancy__field-deadline {
    font-weight: $font-weight-normal !important;
    .field__label {
      font-weight: $font-weight-normal !important;
    }
  }
  .vacancy__node-link {
    a {
      @extend .btn;
      @extend .btn-outline-primary;
      @extend .btn-sm;
    }
  }
  .vacancy__location {
    font-weight: $font-weight-normal;
    p.address {
      br {
        content: ' ';
      }

      span {
        display: inline-block;
      }
    }
  }
}

.node-article .article__field-video {
  border: 10px solid $light;
  border-radius: 4px;
  margin-bottom: 10px;
}