{#
/**
 * @file
 * Default theme implementation for the event_documents render element.
 *
 * Available variables:
 * - content: The text to display within the marquee tag.
 *
 * @ingroup themeable
 * @ingroup ipu_events
 */
#}

<h2 class="event-sub-page__title">{{ title }}</h2>

<div class="ipu-event-documents">
  <div class="ipu-event-documents-description">
    {{ description }}
  </div>
  <div class="ipu-event-documents-documents">
    {{ documents }}
  </div>
  <div class="ipu-event-documents-session-documents">
    {{ session_documents }}
  </div>
</div>
