
#main-nav {
  background-color: color("white");
  border-width: 1px 0 4px 0;
  border-top-color: color("ipu-light-grey");
  border-bottom-color: color("ipu-blue");
  border-style: solid;
  .navbar-nav {
    flex-direction: row;
  }
  .dropdown-menu {
    padding: 0.25rem 0;
    margin: 0;
    border-radius: 1px;
  }
  .ultimenu {
    min-height: auto;
    padding: 0;
    /* Expand menu so it's twice as wide as parent (which is col-6)*/
    z-index: 5000;
    .ultimenu__flyout {
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
      z-index: 2102;
      margin-right: -50%;
      width: 200%;
      .region-inner {
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        & > .block {
        }
      }
    }
    .ultimenu__item > a {
      font-size: 1rem;
      letter-spacing: 0.1em;
    }
  }
  .nav-item,
  .ultimenu__item {
    border-width: 0 0 0 1px;
    border-color: color("ipu-light-grey");
    border-style: solid;
    border-right-width: 0;
    display: inline-block;
    &.active .nav-link,
    &.is-active-trail {
      background-color: color("ipu-teal-light");
      color: color("ipu-dark-grey");
      &:hover {
        background-color: color("ipu-teal");
        color: color("white");
      }
    }
    .nav-link,
    .ultimenu__link,
    .dropdown-item {
      padding: 0.25rem 0.75rem;
      min-height: 33px;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      color: color("ipu-grey");
      font-weight: 400;
      font-size: 0.8rem;

      &:hover,
      &:active {
        background-color: color("ipu-teal");
        color: color("white");
      }

      &.is-active,
      &.active {
        background-color: color("ipu-teal-light");

        &:hover {
          background-color: color("ipu-teal");
          color: color("white");
        }
      }
    }
    .nav-link {
      padding: 0.45rem 0.75rem 0.05rem 0.75rem;
    }


    // Uncomment to turn on dropdown arrows
    // .ultimenu__link {
    //   @extend .dropdown-toggle;
    // }

    // Comment out to turn on dropdown arrows
    .dropdown-toggle::after {
      content: none;
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
  .nav-item + .nav-item {
    margin-left: -4px;
  }
  #main-nav-right .navbar-nav {
    display: inline-block;
  }
}
main,
ol.breadcrumb {
  background-color: gray("100");
}


/**
* Right hand column sub-meuu
* Based on normal Drupal classy theme html
**/

.block--ipu-content ul.menu-top-level {
  padding-left: 0;
  margin-bottom: 4px;
  list-style: none;
  background-color: $white;
  border-width: 0;
  .menu-item {
    display: none;
  }
  .menu-item.menu-item--active-trail {
    display: block;

    a {
      color: $ipu-blue;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: $font-weight-light !important;
      margin-bottom: 10px;
      text-decoration: none;
      span:before {
        background: none;
        content: "";
        width: 2rem;
        height: 2rem;
        display: block;
        float: left;
        margin-right: 0.4rem;
      }
    }
    &.menu-item--route-node-237 {
      a > span:before {
        background: url(../img/theme_icons/gender_equality.svg);
      }
    }
    &.menu-item--route-node-236 {
      a > span:before {
        background: url(../img/theme_icons/strong_parliaments.svg);
      }
    }
    &.menu-item--route-node-238 {
      a > span:before {
        background: url(../img/theme_icons/human_rights.svg);
      }
    }
    &.menu-item--route-node-240 {
      a > span:before {
        background: url(../img/theme_icons/peace_building.svg);
      }
    }
    &.menu-item--route-node-239 { /* Sustainable development */
      a > span:before {
        background: url(../img/theme_icons/global_development.svg);
      }
    }
    &.menu-item--route-node-241 {
      a > span:before {
        background: url(../img/theme_icons/international_relations.svg);
      }
    }
    &.menu-item--route-node-242 {
       a > span:before {
         background: url(../img/theme_icons/youth.svg);
       }
    }
  }
}

/* Excludes top-level */
.block--ipu-content ul.menu,
.ipu-menu-list ul.nav {
  list-style: none;
  background-color: $white;
  border-width: 0 1px 1px 1px;
  border-color: $ipu-very-light-grey;
  border-style: solid;
  padding-left: 0;
  li.menu-item--active-trail {
    a {
      background-color: $light;
    }
    li {
      background-color: $light;
    }
  }
  a {
    font-size: $font-size-sm;
  }
  & > li {
    border-top: 1px solid $ipu-very-light-grey;
    padding-left: 0;
    &.menu-item--collapsed,
    &.menu-item--expanded {
      & > a {
        @extend .dropdown-toggle;
        white-space: normal;
        &:after {
          color: $ipu-blue-light;
          transform: rotate(270deg);
          transition: all linear 0.25s;
        }
      }
    }
    &.menu-item--expanded {
      & > a:after {
        transform: rotate(0deg) ;
        transition: all linear 0.25s;
      }
    }

    &.active {
      /*background-color: $ipu-teal-light;*/
      a {
        font-weight: $font-weight-light;
      }
      ul {
        background-color: $light;
      }
    }
    a {
      display: block;
      padding: 2px 8px;
      &.is-active {
        background-color: $ipu-teal-light;
      }
    }
    & > a {
      font-weight: $font-weight-light;
    }
    /* Sub-menu */
    ul {
      border-width: 0 0;
      li {
        border-width: 0;
        &.active-trail {
          background-color: $light;
        }
        a {
          font-size: $font-size-sm;
          padding-left: 20px;
          font-weight: $font-weight-light;
        }
        ul li a {
            padding-left: 40px;
          }


      }
    }
  }
}

/* On events contextual menu, make first item bigger */
.dynamic-block-fieldnode-contextual-menu-event-navigation ul.menu > li:first-child > a {
  font-size: 1.4rem;
}

#main-nav .ultimenu__flyout {
  .ipu-menu-list ul.nav {
    display: block;
    border-top-width: 1px;
    li {
      display: block;
      border: 0;
      &.nav-item {
        margin-left: 0 !important;
      }
      a {
        text-transform: none;
        border: 0;
        font-size: $font-size-sm;
        border-bottom: 1px solid $light;
        color: $primary;
        font-weight: $font-weight-light;
        letter-spacing: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #main-nav-left {
    ul.ultimenu,
    .block--ipu-content ul.menu,
    .ipu-menu-list ul.nav {
      & > li {
        width: 50%;
        min-width: 50%;
        float: left;
        border-width: 0 !important;
      }
    }
  }
}

/* Styling and layout of content in menus*/

.ultimenu__flyout {
  .region-inner {
    @extend .row;
    .block--ipucontentblock {
      @extend .col-md-4;
    }
    .block--views-block--theme-list-block-1-5 {
      @extend .col-md-8;
      /* background-colour on theme "boxes" */
      .row .col > div {
        background-color: $light;
        padding: 10px 10px 0 10px;
      }
      .views-field-description__value {
        color: $ipu-dark-grey;
        padding-bottom: 10px !important;
      }
    }
  }
}

.ultimenu__flyout {
  .block > h2 {
    font-size: $font-size-base;
    border-bottom: 2px solid $secondary;
    margin-bottom: 1rem;
  }
  .block .section-page__body,
  .block .landing-page__body,
  .block .ipu-event__field-summary,
  .block .ipu-event__field-location {
    color: $ipu-dark-grey;
  }
}
/* Extra buttons */
.ultimenu__flyout {
  a.btn-outline-primary {
    display: none;
  }
  .megamenu-cta {
    @extend .card-body;
    a.btn-outline-primary {
      @extend .btn-sm;
      padding: 2px 6px;
      display: block;
    }
  }
  /* Take border off embedded nodes */
  .node--view-mode-highlight {
    border-width: 0px;
  }
  .node--view-mode-highlight.node--type-ipu-event {
    border-width: 1px;
    width: calc( 100% - 20px);
  }
}

/* Parliaments flyout */
.ultimenu__item-1 .ultimenu__flyout > .region-inner > .block {
  @extend .col-md-4;
}

.ultimenu__item {
  .chosen-container-single .chosen-single {
    background: none;
    border: 0 solid;
    border-radius: 0;
    color: $ipu-grey;
    box-shadow: none;
    div b {
      display: block;
      width: 100%;
      height: 100%;
      background: none;
    }
  }
}
.ipu-map-country-select-form {
  display: flex;
  .form-item-isocode {
    margin-bottom: 0 !important;
    label {
      display: none;
    }
  }
}
.parliaments-menu-cta-node {
  margin-top: 20px;
  .group-image {
    display: none;
  }
  .node--view-mode-highlight {
    border: 0 !important;
  }
}

/* Events flyout */
.ultimenu__item-2 .ultimenu__flyout .block {
  @extend .col-md-4;
}

/* Resources flyout */
.ultimenu__item-3 .ultimenu__flyout .block {
  @extend .col-md-6;
}