
.carousel {
  @extend .container;
}
.carousel-control {
  font-size: 2.6rem;
  color: $secondary;
  &:hover {
    color: $tertiary;
  }
}
.carousel-indicators {
  top: 0px;
  right: 10px;
  margin-right: 0;
  margin-left: 0;
  justify-content: flex-end;
  height: 20px;
  li {
    color: $ipu-blue;
    -moz-border-radius: 12px/12px;
    -webkit-border-radius: 12px 12px;
    border-radius: 12px/12px;
    border: solid 6px $ipu-blue;
    width: 12px;
    height: 12px;
  }
}

.carousel-item {
  .node--view-mode-slide {
    @extend .align-items-center;
  }
}
.node--type-article.node--view-mode-slide {
  & > div > div:not(.group-image) {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    left: -85px;
  }
  .article__body {
    font-size: $font-size-sm;
  }
}