
.carousel {
  @extend .container;
}
.carousel-controls {
  position: relative;
  height: 40px;
  margin-top: -40px;
  margin-bottom: 20px;
  .carousel-control {
    width: auto;
    font-size: 2.6rem;
    color: $secondary;
    &.carousel-control-prev {
      right: 30px;
      left: inherit;
    }
    &:hover {
      color: $tertiary;
    }
    i {
      bottom: 0;
      right: 0;
    }
  }
}
.carousel-indicators {
  top: 0px;
  right: 10px;
  margin-right: 0;
  margin-left: 0;
  justify-content: flex-end;
  height: 20px;
  li {
    color: $ipu-blue;
    -moz-border-radius: 6px/6px;
    -webkit-border-radius: 6px 6px;
    border-radius: 6px/6px;
    border: solid 3px $ipu-blue;
    width: 6px;
    height: 6px;
  }
}

.carousel-item {
  .slide-wrapper {
    @extend .align-items-center;
    .slide-right .slide-inner {
      padding-top: 40px;
    }
    h2 {
      color: $ipu-grey;
      border-bottom-width: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      /*font-weight: $font-weight-light;*/
    }
    @include media-breakpoint-up(md) {
      .slide-right .slide-inner {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        left: -85px;
      }
    }
    .field-link-text {
      display: inline-block;
    }

    .field-summary {
      font-size: $font-size-sm;
    }
    .button {
      margin: 10px 0 0;
      a {
        @extend .btn-cta;
      }
    }
  }
}

/* USED FOR ALTERNATIVE SLIDER, LINKING TO INTERNAL CONTENT */
.carousel-item {
  .node--view-mode-slide {
    @extend .align-items-center;
    &.bs-2col {
      @extend .row;
    }
  }
}
.carousel-item {
  .node--view-mode-slide {
      & > div > div:not(.group-image) {
        padding-top: 40px;
      }
      @include media-breakpoint-up(md) {

      & > div > div:not(.group-image) {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        left: -85px;
      }
    }
    .body {
      font-size: $font-size-sm;
    }
  }
}